<h3>Registration Form </h3>
<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmitForm()">
    <div class="row">
      <div class="col-2">

        <label for="title"> Title<span style="color: red;">*</span></label>
        <select class="form-select" formControlName="select"
          [ngClass]="{ 'is-invalid': isSubmitted && f.select.errors }" required>
          <option>Mr</option>
          <option>Mrs</option>
          <option>Miss</option>
          <div *ngIf="isSubmitted && f.select.errors?.required" class="invalid-feedback">
            Title is required
          </div>
        </select>
        <div class="invalid-feedback">Please select a valid state.</div>



      </div>
      <div class="col-5">
        <label for="first name">First Name <span style="color: red;">*</span></label>
        <input type="text" class="form-control" name="fname" formControlName="fname" placeholder="First name" required
          [ngClass]="{'is-invalid': isSubmitted && f.fname.errors}">
        <div *ngIf="isSubmitted && f.fname.errors?.required" class="invalid-feedback">First name is
          required</div>

      </div>
      <div class="col-5">
        <label for="Last name">Last Name <span style="color: red;">*</span></label>
        <input type="text" class="form-control" name="lname" formControlName="lname" placeholder="Lastname" required
          [ngClass]="{'is-invalid': isSubmitted && f.lname.errors}">
        <div *ngIf="isSubmitted && f.lname.errors?.required" class="invalid-feedback">Last name is
          required</div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <label for="Email">Email <span style="color: red;">*</span></label>
        <input type="email" class="form-control" name="email" formControlName="email" placeholder="Email" required
          [ngClass]="{'is-invalid': isSubmitted && f.email.errors}">
        <div *ngIf="isSubmitted && f.email.errors?.required" class="invalid-feedback">Email is required
        </div>
        <div *ngIf="isSubmitted && f.email.errors?.pattern" class="invalid-feedback">Please Enter your
          valid email address .</div>
      </div>

    </div>
    <div class="row mt-3">
      <div class="col-6">
        <label for="password">Password <span style="color: red;">*</span></label>
        <input type="password" class="form-control" name="password" formControlName="password"
          placeholder="Enter Password" required [ngClass]="{'is-invalid': isSubmitted && f.password.errors}">
        <div *ngIf="isSubmitted && f.password.errors?.required" class="invalid-feedback">Password is
          required</div>
      </div>
      <div class="col-6">
        <label for="Confirm password">Confirm Password <span style="color: red;">*</span></label>
        <input type="password" class="form-control" [ngClass]="{ 'is-invalid': isSubmitted && f.cpassword.errors }"
          formControlName="cpassword" required />
        <div *ngIf="isSubmitted && f.cpassword.errors?.required" class="invalid-feedback">
          Confirm Password is required
        </div>
        <div *ngIf="isSubmitted && f.cpassword.errors?.MustMatch" class="invalid-feedback">
          Password & Confirm Password is not matched
        </div>

      </div>
    </div>


    <div class="mt-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="checkbox"
          [ngClass]="{ 'is-invalid': isSubmitted && f.checkbox.errors }" requiredTrue />
        <label class="form-check-label"> Accept terms and conditions </label>
        <div *ngIf="isSubmitted && f.checkbox.errors?.required" class="invalid-feedback">
          Accept Ts & Cs is required
        </div>
      </div>


    </div>
    <div class="text-center mt-4">
      <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Register</button>

      <button (click)="myForm.reset();" class="btn btn-secondary mx-1">Cancle</button>

    </div>
  </form>




</div>






<router-outlet></router-outlet>